{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static '/css/task.css' %}" />
  </head>
  <body>
    <div class="task-container">
      <div class="user-info">
        <h1>Hello {{user}}</h1>
        <div class="logout-btn">
          <span>Logout</span>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
      </div>

      <section class="tasks">
        <div class="task-box">
          <form method="post">
            {% csrf_token %}

            <div class="heading">Edit task</div>

            <div class="line"></div>

            <div class="field">
              <input
                type="text"
                name="title"
                class="task-input"
                placeholder="Task Title"
                required
                autocomplete="off"
                value="{{ obj.title }}"
              />
            </div>

            <div class="field">
              <input type="submit" class="submit-button" value="Update" />
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
