body {
  margin: 0;
  padding: 0;
}

.signup-login {
  position: absolute;
  background-color: #0f1f37;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  font-size: 24px;
  color: #fff;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.brand-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  max-width: 420px;
}

.brand-title {
  font-size: 40px;
}

.brand-subtitle {
  font-size: 20px;
  text-wrap: wrap;
  text-align: center;
}

.brand-description {
  font-size: 16px;
  text-wrap: wrap;
  text-align: center;
}

.text-lightBlue {
  color: rgb(56, 185, 228);
}

.signup-box {
  background-color: #ffffff30;
  padding: 5px 5px 40px 5px;
  width: 520px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.heading {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
  color: rgb(56, 185, 228);
  text-shadow: 0px 10px 10px rgba(255, 255, 255, 0.4);
}

.signup-input {
  margin: 10px;
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffffff30;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  outline: none;
}

.signup-input::placeholder {
  color: #ffffffa5;
}

.signup-input:focus {
  border-left: 2px solid rgba(56, 185, 228, 100);
  border-bottom: 2px solid rgba(56, 185, 228, 100);
}

.submit-button {
  margin-top: 20px;
  margin-left: 10px;
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #252525;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.submit-button:hover {
  color: rgb(56, 185, 228);
  background-color: #303030;
  border: 2px solid rgb(56, 185, 228);
}

.line {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 1px;
  width: 500px;
  border: none;
  background-color: rgb(56, 185, 228);
  border: 0px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.redirect-link {
  text-decoration: none;
  color: rgb(56, 185, 228);
  font-weight: 500;
  cursor: pointer;
}

.redirect-link:hover {
  text-decoration: underline;
}
